html {
    font-size: 62.5%;
}

body {
    margin: 20px;
    padding: 0;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 50rem;
    min-width: 20rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    outline: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.box {
    outline: 1px solid gray;
}

.slider {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#value {
    font-size: 1.5rem;
}

#range {
    width: 100%;
}